<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button [routerLink]="['/people']">Check out star wars people!</ion-button>

    <ion-button (click)="openIonModal()">Open Modal</ion-button>
    <br /><strong *ngIf="modalData">{{modalData}}</strong>
  </div>
</ion-content>
